<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置Bean scope z指定bean的作用域 init-method指定bean的初始化方法，
        destroy-method指定bean的销毁方法
        注意：销毁方法在singleton的模式下生效，在prototype下是不会执行的
        因为prototype是以以原型的方法创建实例并放回客户端，并不受容器所管理。
        但是初始化方法不管是原型还是单例都会执行，因为初始化方法是在构建实例
        之后就会立即使用
    -->
    <bean id="hello" class="edu.demo.impl.HelloImpl" scope="prototype"
        init-method="init" destroy-method="destroy"/>
    <!-- 也可以指定name属性，name属性表示被这个bean表示一个别名，别名是可以有多个
     可以使用","或者" "或者";"隔开,可以根据任意一个别名从容器中获取。
     如果只定义了name并且name有多个别名，而没有定义id属性，那么name
     的第一个别名就作为唯一标识，其他的将作为别名-->
    <bean name="hello2,h2,hl2" class="edu.demo.impl.helloImpl2"/>
</beans>